@font-face {
  font-family: "OpenSans Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "OpenSans Semibold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/OpenSans-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "OpenSans Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/OpenSans-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "OpenSans Extrabold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("ttf");
}

@font-face {
  font-family: "Lato Regular";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Lato-Regular") format("ttf");
}
