.title {
  // @include border;
  display: inline-block;
  @include font($name: $bold-font, $size: $h2-sz * 0.6, $color: $black, $lh: 28px);
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.title__top {
  position: relative;
  margin: 0;
  font: inherit;

  &::after {
    @include pseudo;
    top: 50%;
    right: 0;
    width: 85px;
    border-top: 3px solid $black;
    transform: translateY(-50%);
  }
}

.title__part {
  font: inherit;
  // @include font($name: $bold-font, $size: $h2-sz * 0.6, $color: $black, $lh: 28px);
  // font-weight: 700;
  // margin-left: 93px;
}

@media (min-width: 768px) {
  .title {
    margin-bottom: 40px;
    font-size: $h2-sz * 0.8;
    line-height: 35px;
  }
}

@media (min-width: 1250px) {
  .title {
    margin-bottom: 75px;
    font-size: $h2-sz;
    line-height: 40px;
  }

  .title__top {
    &::after {
      border-width: 4px;
    }
  }
}
