$regular-font: "OpenSans";
$semibold: "OpenSans Semibold";
$bold-font: "OpenSans Bold";
$extrabold: "OpenSans Extrabold";
$text-font: "Lato Regular";

$header-bg-color: rgba(55, 55, 56, 0.74);
$text-color: #222222;
$black: #222222;
$lightgray: #f7f7f1;

$h1-sz: 48px;
$h2-sz: 40px;
$h3-sz: 29px;
$menu-sz: 22px;
$about-text-sz: 24px;
$works-sz: 18px;
$link-sz: 12px;

$blog-h-sz: 29px;
$blog-time-sz: 13px;
$blog-text-sz: 19px;

$contact-text-sz: 20px;
