.about {
  @include flex-column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  background-color: $lightgray;
}

.about__title {
  @include font($name: $bold-font, $size: $h2-sz * 0.6, $color: $black, $lh: 28px);
  position: relative;
  margin: 0;
  margin-left: 30px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;

  &::before {
    @include pseudo;
    top: 50%;
    left: -50px;
    width: 48px;
    border-top: 3px solid $black;
    transform: translateY(-50%);
  }
}

.about__img-wrapper {
  max-width: 480px;
  margin: 0 auto;
}

.about__img {
  max-width: 100%;
}

.about__text {
  font-size: $about-text-sz * 0.6;
  text-align: center;
}

@media (min-width: 768px) {
  .about {
    padding: 30px 50px;
  }

  .about__title {
    font-size: $h2-sz * 0.8;
    margin-bottom: 35px;

    &::before {
      left: -67px;
      width: 65px;
    }
  }

  .about__content {
    @include flex-row;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
  }

  .about__img-wrapper {
    flex-basis: 50%;
  }

  .about__text {
    flex-basis: 50%;
    padding: 10px;
    font-size: $about-text-sz * 0.8;
    text-align: left;
    margin-left: 30px;
  }
}

@media (min-width: 1250px) {
  .about {
    max-width: 1600px;
    margin: 0 auto;
    padding: 150px 225px;
  }

  .about__content {
    max-width: 1024px;
  }

  .about__title {
    margin-bottom: 75px;
    font-size: $h2-sz;

    &::before {
      left: -87px;
      width: 85px;
      border-width: 4px;
    }
  }

  .about__text {
    margin-top: 50px;
    margin-left: 0;
    font-size: $about-text-sz;
    line-height: 33px;
    transform: translateX(-75px);
  }
}
